@page "/disclaimer"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject StageValidationService StageValidationService;
@inject IStringLocalizer<Resource> localizer

@using ServerAlphaWebsite.PythonEngines
@using ServerAlphaWebsite.Parsers
@using ServerAlphaWebsite.Services

@if(IsRtl)
{
	<style>
		p {
			direction: rtl !important;
			text-align: right !important;
		}
		button {
			direction: rtl !important;
		}
		.button-div {
			justify-content: left !important;
		}
	</style>
}

<body style="@(IsRtl ? "text-align: right;" : "text-align: left;")">
	<div class="@("logo-div " + (questionaireFilled ? "" : "animate fade-in"))">
		<img class="logo" src="images/logo_circle_512_512.png" />
	</div>
	<div class="@animationClass container-div">
		<p>@((MarkupString)contentText[contentCounter])</p>
		<div class="button-div">
			@if (contentCounter > 0)
			{
				<button type="button" class="btn btn-light" @onclick="instructionBackButtonClick">@localizer["DisclaimerReverseButton"]</button>
			}
			<button type="button" class="btn btn-light" @onclick="instructionContinueButtonClick">@continueButtonText</button>
		</div>
	</div>
</body>

@* <body>
	<div id="maindiv">
		<div class="@animationClass flex flex--centered"
			 style="align-items: center; flex-direction: column; width: 55vw; height: fit-content; overflow: hidden;">
			<div style="font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold;">
				@((MarkupString)contentText[contentCounter])
			</div>

			<div style="width: auto; height: 30px"></div>

			<div class="flex" style="flex-direction: column-reverse; align-items: end; margin: 0 10vw; width: inherit;">
				<div style="width: auto"></div>
				<button type="button" class="btn btn-light" @onclick="instructionContinueButtonClick">Continue</button>
			</div>
		</div>
	</div>
</body> *@

@code {
	private string[] contentText; // =
										//{
										// @"Welcome to The Martian Game!<br/><br/>
										// We are a group of researchers exploring question asking. By participating in
										// The Martian Game, you consent to the collection and use of your gameplay data —
										// such as the questions you ask and your responses — for research purposes.
										// Your data will be anonymized, aggregated with other participants' data and
										// securely stored to protect its confidentiality.<br/><br/>
										// Thank you for your participation, and we hope you enjoy the game!<br/>",

	// @"Welcome to the Martian City Design Challenge!<br/><br/>
	// Your mission is to design a reliable and sustainable energy system for a city on Mars.<br/>To achieve this, you will interact with Mark,
	// an AI-powered agent who has the answers to all questions relevant to planning the energy system. Ask creative, analytical, and relevant questions,
	// and Mark will provide the information you need. You will earn points based on the quality of your questions, with relevance multiplying your score.<br/>",

	// @"The game consists of two parts:<br/><br/>

	// 1. Ask Questions: Gather information by asking the agent as many questions as you like.  After each question, you'll
	// receive feedback and earn points based on the quality and relevance of your inquiry. During the question phase, a short summary
	// of each question you ask will appear on the right side of the screen. When you are ready to plan the energy system,
	// click ""Finish Asking"" to proceed to the next phase.<br/><br/>

	// 2. Plan Your Energy System: Use the knowledge you've gained to design your energy system within the provided space.
	// Once you submit your plan, you'll receive a final score based on your questions, strategy, and overall system design.

	// The relevance of your questions will multiply your score.<br/>"
	//};

	private string user = "";
	private string animationClass = ""; //animate slideInUp
	private string continueButtonText = "";
	private bool questionaireFilled = false;
	private int contentCounter = 0;

	private bool IsRtl => CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;

	private async Task instructionContinueButtonClick()
	{
		if (contentCounter == 0 && !questionaireFilled)
		{
			try
			{
				await StageValidationService.SetUserStage(GameStage.Questionnaire);
				NavigationManager.NavigateTo("/questionnaire?user=" + user);
			}
			catch { }
			return;
		}

		if (contentCounter < contentText.Length - 1)
		{
			await changeContentForwards();
			return;
		}

		animationClass = "animate slideOutUp";

		await Task.Delay(1000);

		if (!string.IsNullOrEmpty(user))
			try
			{
				await StageValidationService.SetUserStage(GameStage.Game);
				NavigationManager.NavigateTo("/game?user=" + user);
			}
			catch { }
	}

	private async Task instructionBackButtonClick()
	{
		if (contentCounter > 0)
		{
			await changeContentBackwards();
			return;
		}

	}

	private async Task changeContentForwards()
	{
		if (contentCounter >= contentText.Length - 1) return;

		animationClass = "animate slideOutUp";
		StateHasChanged();

		await Task.Delay(1000);

		if (contentCounter < contentText.Length - 1)
			contentCounter++;

		if (contentCounter == contentText.Length - 1 && contentCounter != 0)
			continueButtonText = localizer["DisclaimerStartButton"];

		await Task.Yield();

		animationClass = "animate slideInUp";
		StateHasChanged();

		await Task.Delay(1000);
	}

	private async Task changeContentBackwards()
	{
		if (contentCounter <= 0) return;

		animationClass = "animate slideOutUp";
		StateHasChanged();

		await Task.Delay(1000);

		continueButtonText = localizer["DisclaimerContinueButton"];
		contentCounter--;

		await Task.Yield();

		animationClass = "animate slideInUp";
		StateHasChanged();

		await Task.Delay(1000);

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await StageValidationService.ValidateUserStage(GameStage.Disclaimer);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine(System.Globalization.CultureInfo.CurrentCulture.Name);
		UrlParameterParser parser = new();

		user = parser.GetUrlParameter("user", NavigationManager);
		string state = parser.GetUrlParameter("questionnaireFilled", NavigationManager);

		contentText = new string[]
		{
			localizer["DisclaimerText1"],
			localizer["DisclaimerText2"],
			localizer["DisclaimerText3"]
		};

		continueButtonText = localizer["DisclaimerContinueButton"];

		if (state == "")
		{
			animationClass = "animate slideInUp";
			return;
		}
		else
		{
			try
			{
				if (bool.Parse(state))
				{
					contentCounter = 1;
					questionaireFilled = true;
				}


			}
			catch (Exception ex)
			{
				return;
			}
		}
	}
}