@page "/disclaimer"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject StageValidationService StageValidationService;
@inject IStringLocalizer<Resource> localizer

@using ServerAlphaWebsite.PythonEngines
@using ServerAlphaWebsite.Parsers
@using ServerAlphaWebsite.Services

@if(IsRtl)
{
	<style>
		.button-div {
			justify-content: left !important;
		}
	</style>
}

<body style="@(IsRtl ? "text-align: right;" : "text-align: left;")">
	<div class="@("logo-div " + (questionaireFilled ? "" : "animate fade-in"))">
		<img class="logo" src="images/logo_circle_512_512.png" />
	</div>
	<div class="@animationClass container-div">
		<p>@((MarkupString)contentText[contentCounter])</p>
		<div class="button-div">
			@if (contentCounter > 0)
			{
				<button type="button" class="btn btn-light" @onclick="instructionBackButtonClick">@localizer["DisclaimerReverseButton"]</button>
			}
			<button type="button" class="btn btn-light" @onclick="instructionContinueButtonClick">@continueButtonText</button>
		</div>
	</div>
</body>

@* <body>
	<div id="maindiv">
		<div class="@animationClass flex flex--centered"
			 style="align-items: center; flex-direction: column; width: 55vw; height: fit-content; overflow: hidden;">
			<div style="font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold;">
				@((MarkupString)contentText[contentCounter])
			</div>

			<div style="width: auto; height: 30px"></div>

			<div class="flex" style="flex-direction: column-reverse; align-items: end; margin: 0 10vw; width: inherit;">
				<div style="width: auto"></div>
				<button type="button" class="btn btn-light" @onclick="instructionContinueButtonClick">Continue</button>
			</div>
		</div>
	</div>
</body> *@

@code {
	
    private bool IsRtl => CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;
}
